{% include 'head.html' %}

<!--navbar-->
<nav class="navbar navbar-expand-lg navbar-default static-top">
    <div class="container">
        <a class="navbar-brand" href="http://localhost:5000">
            <img src="../static/logo.png" width="130" height="50" alt="">
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive"
                aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
    </div>
</nav>
<div id="title" style="display: none">{{title}}</div>
<form>
    <div class="container">
        <div class="form-group">
            <label for="book-title_form">제목</label>
            <input type="text" class="form-control" id="book-title_form" readonly>
        </div>
        <div class="form-group">
            <label for="book-author_form">저자</label>
            <input type="text" class="form-control" id="book-author_form" readonly>
        </div>
        <div class="form-group">
            <label for="book-publisher_form">출판사</label>
            <input type="text" class="form-control" id="book-publisher_form" readonly>
        </div>
        <div class="form-group">
            <label for="book-review_form">리뷰</label>
            <input type="textarea" class="form-control" id="book-review_form" readonly>
        </div>
        <input type="hidden" class="form-control" id="book-thumbnail-form">

        <button class="btn btn-primary" onclick="deleteReview()">DELETE</button>

    </div>

</form>

</div>


</div>
<script>
    $(document).ready(function () {
        // getReview();
        let title = $('#title').text()
        console.log("ready", title)
        $.ajax({
            type: 'GET',
            url: '/review?title=' + title,
            data: {},
            success: function (response) {
                if (response['result'] == 'success') {
                    console.log("success")
                    console.log(response['reviews'][0])
                    let review = response['reviews'][0]
                    $('#book-title_form').val(review['title'])
                    $('#book-author_form').val(review['author'])
                    $('#book-publisher_form').val(review['publisher'])
                    $('#book-review_form').val(review['review'])

                }
            }
        })
    });
</script>
{% include 'footer.html' %}
