{% include 'head.html' %}
{% include 'search.html' %}


<form>
    <div class="container">
        <!--                <a href="http://localhost:5000/search_popup" class="btn btn-light" onclick="window.open(this.href, '_blanck', 'width=600, height=400'); return false">도서 찾기</a>-->
        <!-- Button trigger modal -->
        <button type="button" class="btn btn-light" data-toggle="modal" data-target="#search">도서 검색</button>

        <div class="form-group">
            <label for="book-title_form">제목</label>
            <input type="text" class="form-control" id="book-title_form">
            <input type="text" class="form-control" id="book-thumbnail-form">
        </div>
        <div class="form-group">
            <label for="book-author_form">저자</label>
            <input type="text" class="form-control" id="book-author_form">
        </div>
        <div class="form-group">
            <label for="book-publisher_form">출판사</label>
            <input type="text" class="form-control" id="book-publisher_form">
        </div>
        <div class="form-group">
            <label for="book-review_form">리뷰</label>
            <input type="textarea" class="form-control" id="book-review_form">
        </div>


        <button type="submit" class="btn btn-primary" onclick="writeReview()">작성</button>
    </div>

</form>


{% include 'footer.html' %}